{% extends "base.html" %}
{% include "object_list" %}
<!DOCTYPE html>
<html>

<head>
    <title></title>

</head>

<body>
    {% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/">每周推薦</a></li>
            <li class="breadcrumb-item active" aria-current="page">One Piece</li>
        </ol>
    </nav>
    <center>
        <div class="card col-lg-4 col-sm-12 mb-12">
            <img src="https://p2.bahamut.com.tw/B/2KU/17/d4b22f41224a5b4609be8f123f1b8395.JPG" class="card-img-top"
                alt="onePiece">
        </div>
    </center>
    </br>
    <div class="card col-lg-12 col-sm-12 mb-12">
        <div class="card-body">
            <h5 class="card-title">PUI PUI 天竺鼠車車</h5>
            <p class="card-text">本作由見里朝希擔任導演兼編劇，這是他初次執導電視動畫。他此前修讀東京藝術大學研究院影像研究科，専攻動畫，2018年修畢課程，其畢業作品《My Little
                Goat》（マイリトルゴート）獲得2019年東京國際短片影展日本部門優秀獎、法國PIFFF電影節大獎等獎項。在官方網站刊載的訪談中，見里表示由於在之前的創作中，除了聲音相關的，都是自己一手包辦的，因此這是他第一次跟這麼多人合作。這也是他初次製作分集的作品[7]。

                由於一集的長度定為2分40秒，讓見里十分煩惱要如何將內容豐富的故事放進一集。他想的故事大都超過了5分鐘，在削減要素，總結成讓人容易明白的故事後，得以完成12集動畫[7]。

                見里在創造角色時幾乎不加入易辨認和明確的表情。其叫聲收錄自真實的天竺鼠叫聲。他指雖然角色平常表情都是呆呆的，也不會說話，但仍能以叫聲和動作表現感情。這讓小朋友在觀看角色之間的互動時，存在想像角色感情的空間，讓他們發揮想像力。作品中亦有真人演出的場景，見里指這樣能讓天竺鼠車車的世界更具現實感[7]。

                本作製作期長約1年半[7]。

                見里朝希與其演員姐姐見里瑞穗一同出演此作第一集[8]。</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">地区： 日本</li>
            <li class="list-group-item">首播时间： 2021年1月5日</li>
            <li class="list-group-item">播放状态： 完結</li>
            <li class="list-group-item">剧情类型： 定格動畫</li>
        </ul>
        <div class="card-body">
            <a href="https://zh.wikipedia.org/zh-hk/PUI_PUI_%E5%A4%A9%E7%AB%BA%E9%BC%A0%E8%BB%8A%E8%BB%8A"
                class="card-link">更多</a>
            <a href="" class="card-link">觀看</a>
        </div>
        <div style="font-size: xx-large;">相關視頻：</div>
        <center>
            <iframe width="949" height="534" src="https://www.youtube.com/embed/Rx9yIhABiwk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </center>
        <br><br><br>
    </div>
    {% endblock content %}
</body>

</html>